<footer class="site-footer">

  <div class="wrapper">
      
      <div display="inline-block" class="footer-col">
        <div style="float: left;" class="lang-list">
          {% assign posts = site.posts | where: "ref_en", page.ref_en | sort: 'lang' %}
          {% if posts.size == 0 %}
              {% assign posts = site.pages | where: "ref_en", page.ref_en | sort: 'lang' %}
          {% endif %}
          {% if posts.size > 1 %}
              {% for post in posts %}
                {% unless post.lang == page.lang %}
                <em><a href="{{ site.base-url }}{{ post.url }}" title="{{ post.lang }}">{{ post.lang }}</a></em>
                {% endunless %}
              {% endfor %}
          {% endif %}
      </div>
          
        <div style="float: right;" class="social-media-list">
          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
          {% if site.instagram_username %}
            {% include icon-instagram.html username=site.instagram_username %}
          {% endif %}
          {% if site.linkedin_username %}
            {% include icon-linkedin.html username=site.linkedin_username %}
          {% endif %}
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

        </div>

      </div>

  </div></div>

</footer>
