<footer class="site-footer">

  <div class="wrapper">
      <div display="inline-block" align="right" class="footer-col">

        <div class="social-media-list">
          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
          {% if site.instagram_username %}
            {% include icon-instagram.html username=site.instagram_username %}
          {% endif %}
          {% if site.linkedin_username %}
            {% include icon-linkedin.html username=site.linkedin_username %}
          {% endif %}
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

        </div>

      </div>

  </div></div>

</footer>
