<footer class="site-footer">

  <div class="wrapper">

      <div align="right" class="footer-col footer-col-2">
        <div class="social-media-list">
          {% if site.github_username %}
          <span>
            {% include icon-github.html username=site.github_username %}
          </span>
          {% endif %}

          {% if site.twitter_username %}
          <span>
            {% include icon-twitter.html username=site.twitter_username %}
          </span>
          {% endif %}
        </div>
      </div>

  </div>

</footer>
