

<header class="site-header">

  <div class="wrapper">

    {% unless page.lang == 'en' %}
      {% assign home_lang = page.lang %}
    {% endunless %}

    <a class="site-title" href="{{ site.baseurl }}/{{ home_lang }}"><span class="initials">{% include initials.svg %}</span>{{ site.title }}</a>

    <br class="break">

    <nav class="site-nav">
      <a href="#" class="menu-icon">{% include initials.svg %}
      </a>

      <div class="trigger">
        {% assign sorted_pages = site.pages | where:"lang", page.lang | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% unless my_page.exclude %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><strong>{{ my_page.title }}</strong></a>
            <br class="break">
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
      <div class="header-lang">
        <div class="lang-list" display="inline-block">
          {% assign posts = site.posts | where: "ref_en", page.ref_en | sort: 'lang' %}
          {% if posts.size == 0 %}
              {% assign posts = site.pages | where: "ref_en", page.ref_en | sort: 'lang' %}
          {% endif %}
          {% if posts.size > 1 %}
              {% for post in posts %}
                {% unless post.lang == page.lang %}
                <em><a href="{{ site.base-url }}{{ post.url }}" title="{{ post.lang }}">{{ post.lang }}</a></em>
                {% endunless %}
              {% endfor %}
          {% endif %}
      </div></div>
      <div class="header-social">
        <div class="social-media-list" display="inline-block">
          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
          {% if site.instagram_username %}
            {% include icon-instagram.html username=site.instagram_username %}
          {% endif %}
          {% if site.linkedin_username %}
            {% include icon-linkedin.html username=site.linkedin_username %}
          {% endif %}
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}
      </div></div>

    </nav>

  </div>

</header>
